@model EasyBlog.Models.Posts.PostManagementViewModel

@{
    ViewData["Title"] = "Post Details";
}

<h1 class="title is-4">@Model.Title</h1>

<div class="content">
    <p>@Model.Content</p>
    <p>
        <strong>Is Published:</strong> @Model.IsPublished
    </p>
    <p>
        <strong>Created Date:</strong> @Model.CreatedDate.ToString("g")
    </p>
    <p>
        <strong>Publish On Date:</strong> @Model.PublishOnDate?.ToString("g")
    </p>
    <p>
        <strong>Readable Url:</strong> @Model.ReadableUrl
    </p>
    <p>
        <strong>Tags:</strong> @string.Join(", ", Model.Tags.Select(x => x.Name))
    </p>
</div>

<a class="button is-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a class="button" asp-action="Index">Back to List</a>